@font-face {
  font-family: monospace;
  src: url(monofont.ttf);
}

div {
  font-family: monospace;
}
h1 {
   text-align : center
 
}

h2 {
   text-align : center
 
}

#logo {
  display: block;
  margin: auto;
}
