@font-face {
  font-family: monospace;
  src: url(monofont.ttf);
}

div {
  font-family: monospace;
}
h1 {
   text-align : center
 
}

h2 {
   text-align : center
 
}

#logo {
  display: block;
  margin: auto;
}

img {
	
	
	
}

/* Set width to 600px, and center box */
.gist {
  margin-left: auto;
  margin-right: auto;
  width: 600px !important;
}

/* Limit height and width of script box, and enable scrollbars */
.gist-data {
    height:250px;
    overflow-y: visible;
    width: 600px;
    overflow-x: visible;
}

button {
	align="center";
}

code {
        font-family: monospace;
        background-color: #f4f4f4;
        padding: 2px 4px;
        border-radius: 3px;
}